// Variables.scss

:root {
  /* Tema Claro */
  --background: #ffffff;
  --text-primary: #303133;
  --text-secondary: #606266;
  --primary: #409eff;
  --success: #67c23a;
  --warning: #e6a23c;
  --danger: #f56c6c;
}

[data-theme="light"] {
  /* Tema Escuro */
  --background: #E0E0E0;
  --text-primary: #1E1E1E;
  --text-secondary: #A0A0A0;
}

[data-theme="dark"] {
  /* Tema Escuro */
  --background: #e0e0e0;
  --text-primary: #1E1E1E;
  --text-secondary: #A0A0A0;
}
