
:root {
  --primary: #409eff;
  --success: #67c23a;
  --warning: #e6a23c;
  --danger: #f56c6c;
  --info: #909399;
  
  --text-primary: #343E59;
  --text-secondary: #606266;
  --background-color: #e2e2e2;
  --background-color-navbar: #466ff5;
  --background-color-text-primary: #fff;
  
  --background-color-dark: #fff;

  --background-color-darker: #ffffff;
  
  --background-color--apex-card: #fafafa;

  --border-color: #dcdfe6;
  --border-color-hover: #c0c4cc;
  
  --link-color: #409eff;
  --link-hover-color: #66b1ff;
  
  --button-primary-bg: #409eff;
  --button-primary-text: #fff;
  
  --shadow-color: #54565c;
  --overlay-background: #54565c;
}

.dark {
  --text-primary: #fff;
  --text-secondary: #A0A0A0;
  --background-color: #4b4f5a;

  --background-color-navbar: #2b2b2b;
  --background-color-text-primary: #fff;

  --background-color-dark: #34353d;

  --background-color-darker: #2a2b31;

  --background-color--apex-card: #54565c;

  --border-color: #444c56;
  --border-color-hover: #666d77;
  
  --link-color: #66b1ff;
  --link-hover-color: #409eff;
  
  --button-primary-bg: #409eff;
  --button-primary-text: #fff;
  
  --shadow-color: #54565c;
  --overlay-background: #54565c;
}

